* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.fullscreen-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen-container .dialogue-container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-bottom: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.fullscreen-container .dialogue-container .speaker {
  font-size: 4rem;
  transform: translateY(200%);
}

.fullscreen-container .dialogue-container .message {
  margin-left: 30px;
  padding: 20px;
  font-size: 2rem;
  border: 2px black solid;
  border-radius: 20px;
  position: relative;
  transform: translateY(200%);
}

.fullscreen-container .dialogue-container .message::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  left: -2px;
  width: 20px;
  height: 20px;
  border-top: 2px black solid;
  border-left: 2px black solid;
  background: white;
}

.animation {
  animation: loop 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2 forwards
    alternate;
}

@keyframes loop {
  0% {
    transform: translateY(200%);
  }
  50%,
  100% {
    transform: translateY(0);
  }
}

/* 
.towards-up {
  transform: translateY(0);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.towards-down {
  transform: translateY(200%);
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
} */
